<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIN-pB8a10ENKN3yLerdhNI0wsVpdbylM</string>
	<key>GCM_SENDER_ID</key>
	<string>771594409433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmlcs.webhorizonios</string>
	<key>PROJECT_ID</key>
	<string>webhorizon-49d00</string>
	<key>STORAGE_BUCKET</key>
	<string>webhorizon-49d00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771594409433:ios:4327e7add1f6d62a9cf5c8</string>
</dict>
</plist>